body{
    text-align: center;
}

.profile{
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
#welcome{
    overflow: hidden;
    color: aliceblue;
    bottom: 0px;
    opacity: 0.83;
    background-color: darkblue;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
h1{
    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
}
#name{
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Cinzel', serif;
}
h2{
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: sans-serif;
}
#bio{
    padding: 50px;
    text-align: center;
    font-size: 42px;
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
p{
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}
.Menu{
    font-family: fantasy;
    color: white;
    text-shadow: none;
}
.link{
    display: inline;
    color: antiquewhite;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
    }
.link:hover{
    background-color: dodgerblue;
    font-size: 25;
    text-decoration: underline;
}
a{
text-decoration: none;
    color: blue;
    text-shadow: 2px 2px gainsboro;
}
.article:hover{
    color: dodgerblue;
}
html{
    scroll-behavior: smooth;
}
#contact{
    background-color: darkred;
}
.contact_1 a{
    color: aliceblue;
    text-shadow: none;
}
.contact_1 h3{
    display: inline;
}
.my_nav_bar{
    position: sticky;
    top: 0;
    z-index: 99999;
}